<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<configuration>
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} %-5level %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME}/.loxal/rest-client/app.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="${project.groupId}" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ALL">
        <appender-ref ref="FILE"/>
    </root>
</configuration>